@font-face {
    font-family: 'audimatregular';
    src: url('audimat-regular-webfont.eot');
    src: url('audimat-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('audimat-regular-webfont.woff2') format('woff2'),
    url('audimat-regular-webfont.woff') format('woff'),
    url('audimat-regular-webfont.ttf') format('truetype'),
    url('audimat-regular-webfont.svg#audimatregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
