body {
    margin: 0;
}

.app {
    width: 100%;
    height: 100%;
    position: absolute;
    font-family: 'audimatregular';
}

.blue-bg {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7BBEFF+0,FFFFFF+100 */
    background: #7BBEFF; /* Old browsers */
    background: -moz-linear-gradient(top, #7BBEFF 0%, #FFFFFF 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7BBEFF), color-stop(100%, #FFFFFF)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7BBEFF 0%, #FFFFFF 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7BBEFF 0%, #FFFFFF 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7BBEFF 0%, #FFFFFF 100%); /* IE10+ */
    background: linear-gradient(to bottom, #7BBEFF 0%, #FFFFFF 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7BBEFF', endColorstr='#FFFFFF', GradientType=0); /* IE6-9 */
}
.center-content{
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 308px;
    position: absolute;
}
.slogan-container {
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.slogan {
    width: 100%;
    line-height: 20%;
    display: inline-block;
    font-size: 4em;
    text-align: center;
    color: #7FB4E8;
    text-shadow: 0 -1px #222222;
}
@media only screen and (max-width: 480px) {
    div[class="slogan"] {
        font-size: 2em; !important;
    }
}

#image-canvas{
    position: absolute;
}
.profile-pic {
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 256px;
    height: 256px;
    position: relative;
    background: #CFD9E4;
    border: 6px solid #FFFFFF;
    box-shadow: 0 5px 20px #8E8E8E;
}
.text-overlay{
    display: inline;
    padding: 0;
    bottom: -142px;
    left: 7px;
    position: relative;
    /* font-family: 'Roboto Slab', serif; */
    font-family: 'Ubuntu', sans-serif;
    background: rgba(255,244,175,0.88);
    box-shadow: 5px 0 0 rgba(255,244,175,0.88), -5px 0 0 rgba(255,244,175,0.88);
}
.make-peace {
    margin: auto;
    top: 35px;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
    width: 140px;
    height: 28px;
    color: #FFFFFF;
    font-size: 1.5em;
    background: #7FB4E8;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    text-shadow: 0 -1px #868686;
    transition: 0.3s;
}
.make-peace:hover{
    background: #527aa4;
}
.disclaimer{
    position: absolute;
    width: 328px;
    bottom: -57px;
    margin: auto;
    left: 0;
    right: 0;
    font-size: 0.7em;
    color: #527aa4;
}
.privacy{
    position: absolute;
    width: 328px;
    margin: auto;
    left: 0;
    right: 0;
    font-size: 1em;
    color: #527aa4;
}
.privacy-title{
    font-size: 2em;
}
.privacy-text{
    font-size: 1em;
}